<%= javascript_include_tag "batch_videos_uploader/remote_videos" %>
<div class="row">
  <div id='video-upload-form' class="left aligned starter column">
    <%= form_for @video, url: {controller: :remote_videos, action: :create},
      html: { class: 'ui form videos-form' } do |f| %>
      <div class="inline fields">
        <div class="eight wide field">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: 'Video Title' %>
        </div>
        <div class="three wide field">
          <div class='upload-button'>
              <label for="video_video" class="ui icon button">
                  <i class="file icon"></i>
                  Open File</label>
              <%= f.file_field :video, class: 'hidden' %>
          </div>
        </div>
      </div>
      <%= f.submit 'Submit', class: 'ui button' %>
    <% end %>
  </div>
</div>
<div class='row'>
  <table id='video-grid' class="ui celled table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Video</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
