<%= javascript_include_tag "batch_videos_uploader/remote_videos" %>
<%= render partial: 'validation_dialog' %>
<%= render partial: 'sync_dialog' %>
<div class="row">
  <%= render partial: 'form' %>
</div>
<% if BatchVideosUploader::VzaarUpload::Factory.instance.can_sync? %>
  <div class='row'>
    <button class="ui labeled icon button" id='sync-button'>
      <i class="refresh icon"></i>
      Sync
    </button>
  </div>
<% end %>
<div class='row'>
  <div id='loader' class="ui active large inline loader"></div>
</div>
<div class='row'>
  <div id='empty-container' class="ui message">
    <p>No videos uploaded yet.</p>
  </div>
</div>
<div class='row'>
  <table id='video-grid' class="ui celled table">
    <colgroup>
      <col style='width: 20px'>
      <col>
      <col style='width: 140px'>
    </colgroup>
    <thead>
      <tr>
        <th>Title</th>
        <th>Video</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready( function(){
    window.uploadVideosApp = new AsyncVideos.Grid( $('#video-upload-form'),
      $('#video-grid'), $('#empty-container'), $('#loader'),
      '<%= url_for controller: 'batch_videos_uploader/api/vzaar_videos',
        action: :index %>');
    window.uploadVideosApp.sync = new AsyncVideos.Sync( $('#sync-button'),
      '<%= url_for controller: 'batch_videos_uploader/api/vzaar_videos',
        action: :sync %>');
  });
</script>
